<div id="footer">
  <div class="three spacing"></div>
  <div class="row">

    <div class="large-6 medium-6 columns">
      <h4>Kontakt</h4>
      <ul>
        <li>Mustafa Khatib</li>
        <li>
          E-Mail:
          <a href="mailto:m.khatib.tech@gmail.com">
            m.khatib.tech@gmail.com
          </a>
        </li>
        <li>
          GitHub:
          <a href="https://github.com/01101101-01101111" target="_blank" rel="noopener noreferrer">
            01101101-01101111
          </a>
        </li>
        <li>
          LinkedIn:
          <a href="https://www.linkedin.com/in/mustafa-khatib-a42945333/" target="_blank" rel="noopener noreferrer">
            Profil öffnen
          </a>
        </li>
      </ul>
    </div>

    <div class="large-6 medium-6 columns">
      <h4>Seiten</h4>
      <ul>
        <li><a href="{{ '/impressum/' | relative_url }}">Impressum</a></li>
        <li><a href="{{ '/datenschutzerklaerung/' | relative_url }}">Datenschutzerklärung</a></li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="large-12 columns">
      <p style="text-align:center; margin-top:20px; font-size:14px; color:#aaa;">
        © 2026 Mustafa Khatib
      </p>
    </div>
  </div>

  <div class="two spacing"></div>
</div>

