<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ '/assets/css/foundation.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/font-awesome.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/lightbox.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/google-font.css' | relative_url }}">
</head>
<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  <script src="{{ '/assets/js/libs.js' | relative_url }}" type="text/javascript"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        var $page = $('body');
        var config = {
          dependencyPath: {
            plugin: '{{ "/assets/js/" | relative_url }}'
          }
        };
        var application = new Tc.Application($page, config);
        application.registerModules();
        application.start();
      });
    })(Tc.$);
  </script>
  <script src="{{ '/assets/js/masonry.pkgd.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/slick.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/json2.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/jquery.countTo.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/jquery.appear.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/jquery.validate.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/jquery.sequence-min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/jquery.easing.1.3.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/app.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/lightbox.js' | relative_url }}" type="text/javascript"></script>

</body>
</html>
